.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.freeBox__sSjyE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#ffffff, #ffffff), #e6ff9b;
  height: 50px;
  border-bottom-style: solid;
  border-top-color: #535353;
  border-top-style: none;
  border-right-color: #535353;
  border-right-style: none;
  border-bottom-color: #cfcfcf;
  border-left-color: #535353;
  border-left-style: none;
  flex-shrink: 0;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sSjyE {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#ffffff, #ffffff), #e6ff9b;
    height: 50px;
    border-bottom-style: solid;
    border-top-color: #535353;
    border-top-style: none;
    border-right-color: #535353;
    border-right-style: none;
    border-bottom-color: #cfcfcf;
    border-left-color: #535353;
    border-left-style: none;
    flex-row-gap: 0px;
    flex-shrink: 0;
    border-width: 1px;
  }
}
.freeBox__e5JxO {
  position: relative;
  font-size: 24px;
  text-align: center;
  color: #535353;
  align-self: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e5JxO {
    font-family: Comfortaa;
    position: relative;
    font-size: 24px;
    text-align: center;
    color: #535353;
    align-self: center;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__hsbkn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#d4ecf4, #d4ecf4),
    linear-gradient(#a8e8e8, #a8e8e8), linear-gradient(#000000, #000000),
    #f4f4f4;
  border-bottom-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-color: #cfcfcf;
  padding: 50px 150px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hsbkn {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#d4ecf4, #d4ecf4),
      linear-gradient(#a8e8e8, #a8e8e8), linear-gradient(#000000, #000000),
      #f4f4f4;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #cfcfcf;
    flex-column-gap: 0px;
    padding: 30px 40px;
    border-width: 1px;
  }
}
.freeBox___42ABd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: unset;
  justify-content: center;
  background: linear-gradient(#d4ecf4, #d4ecf4),
    linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000),
    #f4f4f4;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___42ABd {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: unset;
    justify-content: center;
    background: linear-gradient(#d4ecf4, #d4ecf4),
      linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000),
      #f4f4f4;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    min-width: 0;
    padding: 0px;
    margin: 0px 0px 20px;
  }
}
.freeBox__kowCi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#9bffe6, #9bffe6), #e6ff9b;
  width: 60%;
  box-shadow: 2px 4px 4px 5px #00000026;
  height: 250px;
  border-radius: 40px;
  padding: 20px 0px;
  margin: 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kowCi {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#ffffff, #ffffff),
      linear-gradient(#9bffe6, #9bffe6), #e6ff9b;
    box-shadow: 2px 4px 4px 5px #00000026;
    height: 220px;
    flex-column-gap: 0px;
    min-width: 0;
    border-radius: 40px;
    padding: 20px;
    margin: 0px;
  }
}
.freeBox__wuL7A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  height: 50px;
  flex-shrink: 0;
  margin: 0px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wuL7A {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: unset;
    flex-row-gap: 0px;
  }
}
.img {
  position: relative;
  object-fit: cover;
  align-self: center;
  height: 80%;
  margin: 0px 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    object-fit: cover;
    align-self: center;
    height: 70%;
    margin: 0px 10px 0px 0px;
  }
}
.残高 {
  position: relative;
  color: #000000;
  font-weight: 400;
  font-size: 28px;
  font-family: Comfortaa;
  text-align: center;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .残高 {
    position: relative;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    font-family: Comfortaa;
    text-align: center;
    align-self: center;
    margin: 0px;
  }
}
.login {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #34ac8c 0%, #00ff53 100%),
    linear-gradient(#e8ff9b, #e8ff9b), #ffffff;
  height: 80px;
  align-content: unset;
  width: 500px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 40px;
  margin: 0px 0px 10px;
  border: 5px solid #d4ecf4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .login {
    width: 300px;
    height: 60px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #34ac8c 0%, #00ff53 100%),
      linear-gradient(#e8ff9b, #e8ff9b), #ffffff;
    align-content: unset;
    flex-row-gap: 0px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 5px solid #d4ecf4;
  }
}
.freeBox__m3Wix {
  position: relative;
  text-align: center;
  color: #ffffff;
  align-self: auto;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m3Wix {
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #ffffff;
    align-self: auto;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.freeBox__qgs2C {
  position: relative;
  text-align: center;
  height: auto;
}
