.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.freeBox___8Fw6R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#ffffff, #ffffff), #e6ff9b;
  height: 50px;
  border-bottom-style: solid;
  border-top-color: #535353;
  border-top-style: none;
  border-right-color: #535353;
  border-right-style: none;
  border-bottom-color: #cfcfcf;
  border-left-color: #535353;
  border-left-style: none;
  flex-shrink: 0;
  border-width: 1px;
}
.freeBox__xnZyz {
  position: relative;
  font-size: 24px;
  text-align: center;
  color: #535353;
  align-self: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xnZyz {
    font-family: Comfortaa;
  }
}
.freeBox__sz5Qa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#d4ecf4, #d4ecf4),
    linear-gradient(#a8e8e8, #a8e8e8), linear-gradient(#000000, #000000),
    #f4f4f4;
  border-bottom-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-color: #cfcfcf;
  padding: 50px 150px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sz5Qa {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#d4ecf4, #d4ecf4),
      linear-gradient(#a8e8e8, #a8e8e8), linear-gradient(#000000, #000000),
      #f4f4f4;
    flex-column-gap: 0px;
    padding: 30px 40px;
  }
}
.freeBox__paR1T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: unset;
  justify-content: center;
  background: linear-gradient(#d4ecf4, #d4ecf4),
    linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000),
    #f4f4f4;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__paR1T {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: unset;
    justify-content: center;
    background: linear-gradient(#d4ecf4, #d4ecf4),
      linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000),
      #f4f4f4;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    min-width: 0;
    padding: 0px;
    margin: 0px 0px 20px;
  }
}
.freeBox__mqGsj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#9bffe6, #9bffe6), #e6ff9b;
  width: 48%;
  box-shadow: 2px 4px 4px 5px #00000026;
  border-radius: 40px;
  padding: 40px;
  margin: 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqGsj {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: linear-gradient(#ffffff, #ffffff),
      linear-gradient(#9bffe6, #9bffe6), #e6ff9b;
    box-shadow: 2px 4px 4px 5px #00000026;
    flex-column-gap: 0px;
    min-width: 0;
    border-radius: 40px;
    padding: 20px;
    margin: 0px;
  }
}
.freeBox__oKGhQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
}
.img__u4Jla {
  position: relative;
  object-fit: cover;
  width: 10%;
  align-self: center;
  margin: 0px 10px 0px 0px;
}
.残高 {
  position: relative;
  color: #000000;
  font-weight: 400;
  font-size: 28px;
  font-family: Comfortaa;
  text-align: center;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .残高 {
    position: relative;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    font-family: Comfortaa;
    text-align: center;
    align-self: center;
  }
}
.freeBox__jjibd {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jjibd {
    font-size: 32px;
  }
}
.freeBox__lLtmg {
  position: relative;
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLtmg {
    font-size: 16px;
  }
}
.freeBox__tdIzZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  background: #ffffff;
  height: 80px;
  width: 60%;
  align-self: center;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tdIzZ {
    width: 80%;
    height: 60px;
    flex-shrink: 0;
    padding: 0px;
    margin: 20px 0px 0px;
  }
}
.freeBox__z1Mow {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.link___2FcEt {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: unset;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__daAZ {
  position: relative;
  object-fit: cover;
  align-self: center;
  height: 25%;
  margin: 0px 0px 5px;
}
.send2 {
  position: relative;
  color: #000000;
  align-self: center;
}
.freeBox__qhdk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.link___6P9 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: unset;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cOfYf {
  position: relative;
  object-fit: cover;
  align-self: center;
  height: 25%;
  margin: 0px 0px 5px;
}
.send {
  position: relative;
  color: #000000;
  align-self: center;
}
